{% extends 'base.html.twig' %}

{% block title %}Welkom{% endblock %}

{% block body %}
    <h1>School index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Tuition</th>
            <th>Country</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for school in schools %}
            <tr>
                <td>{{ school.name }}</td>
                <td>{{ school.tuition }}</td>
                <td>{{ school.country }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
